@import "tailwindcss";


@theme {
    --color-rating-star: #FFC633;
    --font-satoshi-reg: Satoshi-Regular;
    --font-integralcf-bold: integralcf-bold;
    --font-satoshi-bold: Satoshi-Bold;
    --font-satoshi-medium: Satoshi-Medium;
    --text-thirteen-px: 32px;
    --text-sixteen-px: 16px;
    --color-gray-line: rgba(0, 0, 0, 0.6);
    --color-border-color: rgba(0, 0, 0, 0.1);
    --color-bg-color: rgba(240, 238, 237, 1);
    --color-search-bg: rgba(240, 240, 240, 1);
}


@font-face {
    font-family: Satoshi-Regular;
    src: url(fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-Black;
    src: url(fonts/Satoshi-Black.otf);
}

@font-face {
    font-family: Satoshi-BlackItalic;
    src: url(fonts/Satoshi-BlackItalic.otf);
}

@font-face {
    font-family: Satoshi-Bold;
    src: url(fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: Satoshi-BoldItalic;
    src: url(fonts/Satoshi-BoldItalic.otf);
}

@font-face {
    font-family: Satoshi-Italic;
    src: url(fonts/Satoshi-Italic.otf);
}

@font-face {
    font-family: Satoshi-Light;
    src: url(fonts/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi-LightItalic;
    src: url(fonts/Satoshi-LightItalic.otf);
}

@font-face {
    font-family: Satoshi-Medium;
    src: url(fonts/Satoshi-Medium.otf);
}

@font-face {
    font-family: Satoshi-MediumItalic;
    src: url(fonts/Satoshi-MediumItalic.otf);
}

@font-face {
    font-family: integralcf-bold;
    src: url(fonts/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf);
}