@font-face {
    font-family: Satoshi-Regular;
    src: url(fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-Black;
    src: url(fonts/Satoshi-Black.otf);
}

@font-face {
    font-family: Satoshi-BlackItalic;
    src: url(fonts/Satoshi-BlackItalic.otf);
}

@font-face {
    font-family: Satoshi-Bold;
    src: url(fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: Satoshi-BoldItalic;
    src: url(fonts/Satoshi-BoldItalic.otf);
}

@font-face {
    font-family: Satoshi-Italic;
    src: url(fonts/Satoshi-Italic.otf);
}

@font-face {
    font-family: Satoshi-Light;
    src: url(fonts/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi-LightItalic;
    src: url(fonts/Satoshi-LightItalic.otf);
}

@font-face {
    font-family: Satoshi-Medium;
    src: url(fonts/Satoshi-Medium.otf);
}

@font-face {
    font-family: Satoshi-MediumItalic;
    src: url(fonts/Satoshi-MediumItalic.otf);
}

@font-face {
    font-family: integralcf-bold;
    src: url(fonts/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf);
}




* {
    font-family: Satoshi-Regular;
    margin: 0px;
}

.color-black {
    color: black;
}

.color-gray {
    color: rgba(0, 0, 0, 0.6);
}

.top-c {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.h-padding {
    padding: 0 5%;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;

    position: sticky;
    top: 0;
}


.header-top {
    background-color: black;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    min-width: 90%;
}

.header-top .head-line {
    width: 90%;
    text-align: center;
    display: inline-block;
}

.header-top span {
    color: white;
}

.header-top p a {
    color: aliceblue;
}

.header-top span {
    text-align: right;
    display: inline-block;
    width: 9%;
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90%;
}

.menubar {
    display: none;
}

.navmenu {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.cat-list {
    position: relative;
}

.cat-list:hover .category {
    display: block;
}

.category ul li a:hover {
    color: gainsboro;
    text-decoration: underline;
    display: block;
}

.menu {
    min-width: 25%;
    /* min-width:32%; */
}

.menu ul {
    list-style-type: none;
    display: flex;
    /* gap: 50px; */
    padding-left: 0;
    justify-content: center;
}

.menu ul li {
    min-width: 12%;
    padding: 0 20px;
    text-align: center;
}


.category {
    display: none;
    position: absolute;
    top: 20px;
    background-color: rgb(255, 255, 255);
}

.category ul {
    display: block;
    width: 20%;

}

.category ul li {
    padding: 10px;
    color: rgb(2, 49, 50);
    border-radius: 12px;
}


.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color: gray;
    text-decoration: underline;
}

.serchicon {
    display: none;
}

.icon-menu {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
}

.search-box {
    background-color: rgb(226, 224, 224);
    border-radius: 20px;
    padding: 10px 15px;
    position: relative;
}

.search-box span {
    position: absolute;
    left: 15px;
    top: 12px;
}

.search-box input {
    border: none;
    background-color: rgb(226, 224, 224);
    width: 90%;
    padding-left: 22px;
}

.search-box input:focus {
    outline: none;
}

.nav-icons {
    font-size: 25px;
    color: black;
}

.hero {
    display: flex;
    background-color: #F2F0F1;
    /* background-color: #f3e5ec; */
    align-items: center;
    justify-content: center;
}

.hero-content {
    /* min-width: 22%; */
    max-width: 40%;
}

.hero-content p {
    font-size: 17.5px;
    color: gray;
    padding: 20px 0;
}

.hero-content-top h1 {
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
}

.hero-content-bottom {
    display: flex;
    justify-content: space-evenly;
}

.hero-img {
    overflow: hidden;
    display: flex;
}

.hero-img img {
    overflow: hidden;
    height: 100%;
}

.button {
    background-color: black;
    border-radius: 40px;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.hero-content-bottom p {
    padding: 0;
    padding-top: 4px;
}

.border {
    border: 1px solid rgb(180, 180, 180);
}

.company {
    background-color: black;
}

.cmp-logo {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.logo_img {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

}

.logo h1 {
    font-size: 32px;
    font-family: integralcf-bold;
}

.logo_img img {
    max-width: 90%;
}

.logo_space {
    background-color: black;
}

.things-section {
    text-align: center;
    /* padding: 0 20%; */
    padding-top: 4%;
    padding-bottom: 4%;
}

.things-section h1 {
    font-weight: 900;
}

.things {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    flex-wrap: wrap;
    gap: 20px;
}

.page-count p {
    color: rgba(0, 0, 0, 0.5);
    font-family: Satoshi-Medium;
    font-size: 14px;
}

.page-active {
    background-color: rgba(0, 0, 0, 0.06);
}

.page-active p {
    color: black;
}

.page-count {
    padding: 10px 18px;
    border-radius: 10px;
}

.pagiation {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.f-and-n {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    padding: 10PX;
}

.page-part {
    display: flex;
    align-items: center;
}

.cloth {
    max-width: 30%;
}

.cloth-img {
    border-radius: 20px;
    overflow: hidden;
    height: 298px;
    display: flex;
    background-color: #F0EEED;
}

.cloth-img img {
    width: 295px;
}

.cloth-desc {
    padding-top: 15px;
}

.cloth-desc p {
    font-weight: 800;
}

.cloth-desc .mdi,
.mdi-star,
.mdi-star-half {
    color: #FFC633;
}

.cloth-desc p,
span,
h2 {
    text-align: left;
}

.rating {
    text-align: left;
    padding-top: 10px;
}

.real-price p {
    display: inline-block;
    font-weight: 100;
}

.delete-price {
    color: rgb(166, 166, 166);
}

.thing-price {
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: flex-start;
}

.thing-price h2 {
    min-width: 70px;
}

.discount {
    background-color: rgba(255, 51, 51, 0.1);
    color: #FF3333;
    padding: 3px 8px;
    border-radius: 20px;
}

.discount p {
    font-size: 12px;
}

.all-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 30px;
}

.dress-style {
    background-color: #F0F0F0;
    border-radius: 30px;
    padding-bottom: 60px;
}

.dress-style h1 {
    text-align: center;
    padding: 40px;
    font-weight: 900;
}

.type-of-dress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 100px;
}

.layout {
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.layout1 {
    flex-grow: 1;
}

.layout2 {
    flex-grow: 4;
}

.layout p {
    font-size: 25px;
    font-weight: 900;
}

.text-format {
    position: absolute;
    top: 50px;
    left: 50px;
}

.layout img {
    width: 65%;
    translate: 200px;
}

.happy_cust {
    padding-top: 60px;
}

.head-line {
    display: flex;
    justify-content: space-between;
}

.head-line h1 {
    font-weight: 900;
    font-size: 40px;
}

.head-line span {
    font-size: 30px;
}

.cust_detail {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;

}

.rev_detail {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    padding: 20px;
    max-width: 20.5%;
}

/* .rev_detail h2 {
    padding: 10px 0;
} */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer-top {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 20px 40px;
    max-width: 85%;
    height: 160px;
    margin-bottom: -90px;
    z-index: 1;
}

.head-line-footer {
    max-width: 50%;
}

.footer-compo {
    display: flex;
    min-width: 30%;
    flex-direction: column;

    justify-content: space-between;
    gap: 10px;
}

.footer-box {
    width: 100%;
    border-radius: 20px;

}

.email-box {
    position: relative;
    background-color: #ffffff;
    padding: 10px;

}

.footer-box input {
    border: none;
    width: 80%;
}

input:focus {
    outline: none;
}


.footer-search-box {
    padding: 10px;
}

.subscribe-btn {
    padding: 10px 25px;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 0;
}

.subscribe-site {
    width: 100%;
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 10px 10px;
}

.subscribe-site span {
    text-align: center;
    display: block;
    color: #000000;
}

.subscribe button {
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
}

.head-line-footer h2 {
    color: white;
    font-family: integralcf-bold;
    font-size: 40px;
}

.main-footer {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    min-width: 90%;
}

.footer-menu {
    display: flex;
    margin-top: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-logo h2 {
    font-family: integralcf-bold;
    font-size: 33.45px;
}

.menu-part {
    max-width: 30%;
}

.menu-part h2 {
    font-family: integralcf-bold;
    font-size: 33.45px;

}

.menu-part p,
.f-and-n p,
.f-and-n span {
    font-family: Satoshi-Medium;
    font-size: 14px;
}

.next p {
    padding-right: 10px;
}

.prev p {
    padding-left: 10px;
}

.menu-part ul {
    list-style: none;
    padding: 0;
}

.menu-part ul,
li {
    padding-top: 15px;
}

.menu-part ul li a {
    text-decoration: none;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 27%;
}

.footer-logo p {
    font-family: Satoshi-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.social-icons {
    display: flex;
}

.social-icons span {
    display: inline-block;
    min-width: 23px;
    font-size: 20px;
    text-align: center;
}

.twd {
    border-radius: 50%;
    background-color: white;
    padding: 5px 6px;
    border: 1px solid rgb(189, 189, 189);
    margin-right: 10px;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

.payment {
    display: flex;
    justify-content: space-between;
    min-width: 22%;
}

.author p {
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
}

.pmt {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 45px;
}

.pmt img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

/* 2 page */

.navigation {
    margin: 20px 0;
}

.navigation p,
span {
    display: inline;
    color: gray;
}

.navigation .active {
    color: black;
}

.t-shirt-section {
    display: flex;
    justify-content: space-between;
}

.t-shirt-images {
    max-width: 45%;
    display: flex;
    justify-content: space-between;
}

.multiple-parts {
    max-width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.multiple-parts .active {
    border: 1px solid gray;
}

.single-img {
    overflow: hidden;
    background-color: #F0EEED;
    border-radius: 20px;
    max-width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 31%
}

.single-img img {
    max-height: 100%;
    max-width: 100%;
}

.selected-images {
    max-width: 73%;
    background-color: #F0EEED;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.selected-images img {
    max-width: 100%;
    overflow: hidden;
}

.t-shirt-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

.t-shirt-desc h1 {
    font-weight: 900;
    font-size: 40px;
}

.t-shirt-desc span {
    font-size: 24px;

}

.t-shirt-desc .rating {
    padding: 0;
}

.t-shirt-desc .thing-price h2 {
    font-size: 30px;
    margin-right: 10px;
}

.t-shirt-desc .thing-price .discount p {
    padding: 0;
}

.t-shirt-desc p {
    padding: 15px 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.t-shirt-desc .thing-price .discount {
    padding: 6px 20px;
}

.t-shirt-desc .thing-price .discount p {
    color: #FF3333;
}

.t-shirt-desc .thing-price .delete-price {
    color: rgba(0, 0, 0, 0.3);
}

.selected-length {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}

.check-mark {
    visibility: hidden;
}

.circle {
    display: flex;
    border-radius: 50%;
    padding: 8px;
}

.bg-black {
    background-color: #4F4631;
}

.circle2 {
    background-color: #314F4A;
}

.circle3 {
    background-color: #31344F;
}

.circle span {
    color: #F0EEED;
    font-size: 15px;
}

.choose-size {
    background-color: rgb(201, 201, 201);
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    padding: 16px 30px;
}

.choose-size-lg {
    font-size: 20px;
    padding: 16px 30px
}

.handle-cart {
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    min-width: 33%;
    padding: 4px 10px;
    border-radius: 50px;
}

.handle-cart span {
    color: black;
    font-size: 35px;
}

.cartno {
    display: flex;
    align-items: center;
}

.handle-cart .cartno span {
    font-size: 20px;
}



.handle-cart-flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

}

.addtocart {
    margin-bottom: 0;
    min-width: 100%;
    padding: 12px 30px;
}

.cartbtn {
    min-width: 60%;
    display: flex;
    align-items: center;
}

.rating-text {
    color: black;
}

.len-btn {
    display: flex;
    gap: 10px;
}

.hr-line {
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0;
    height: 2px;
}

.review-part {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.review-part-menu {
    min-width: 33.33%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
}

.review-part-menu p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
}

.review-part-menu-active {
    border-bottom: 1px solid black;
}

.review-part-menu-active p {
    color: black;
    font-weight: 400;
}

.review-part-overview {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
}

.review-part-len {
    display: flex;
    align-items: center;
    min-width: 30%;
}

.side-option {
    display: flex;
    justify-content: space-between;
    min-width: 27%;
}

.review-part-len p {
    font-weight: 700;
    font-size: 20px;
}

.no-of-rev {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 13px;
    padding-left: 10px;
}

.filter-icon {
    background-color: #F0F0F0;
    padding: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.filter-icon span {
    font-size: 22px;
    color: black;
}

.priority {
    background-color: #F0F0F0;
    border-radius: 30px;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
}

.priority span {
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.priority-drop-down span {
    font-size: 25px;
}

.write-review {
    min-width: 30%;
}

.write-review-button {
    margin-bottom: 0;
    padding: 19px 35px;
    font-weight: 700;
}

.all-review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    gap: 24px;

}

.personal-review {
    display: flex;
    max-width: 45.8%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 21px;
    flex-direction: column;
    justify-content: space-around;
}

.review-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-star {
    padding: 0px;
}

.review-star span,
.more-dot span {
    font-size: 20px;
}

.review-person-name {
    display: flex;
    padding: 10px 0;
}

.r-p-name {
    margin-right: 10px;
}

.review-date {
    padding-top: 20px;
}

.r-p-valid {
    background-color: rgba(1, 171, 49, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    max-height: 24px;

}

.r-p-valid span {
    color: white;
    font-size: 15px;
}

.personal-review p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.load-review {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-weight: 700;
}

.load-review-btn {
    display: flex;
    justify-content: center;
}

/* page 3 */

.casual-section {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.filter {
    max-width: 30%;
}

.filter-area {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.filter-row-first {
    display: flex;
    justify-content: space-between;
}

.filter-row-first span {
    font-size: 24px;
}

.cat-hr-line {
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0;
    height: 2px;
    margin: 15px 0;
}

.filter-row-second {
    display: flex;
    flex-direction: column;
}

.filter-row-second-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filter-row-third input {
    width: 100%;
}

.all-circle {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.all-circle .circle {
    padding: 8px 10px;
}

.all-circle .circle span {
    font-size: 22px;
}

.green {
    background-color: #00C12B;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.red {
    background-color: #F50606;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.yellow {
    background-color: #F5DD06;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.orange {
    background-color: #F57906;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-blue {
    background-color: #06CAF5;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.blue {
    background-color: #063AF5;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.violte {
    background-color: #7D06F5;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.pink {
    background-color: #F506A4;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.white {
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.black {
    background-color: #000000;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.len-btn-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choose-size-filter {
    background-color: #F0F0F0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    padding: 14px 35px;
    margin-bottom: 2px;
}

.apply-filter {
    min-width: 100%;
    padding: 20px;
}

.filter-product-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-product-headline-part2 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sorting {
    display: flex;
    gap: 8px;
}

.mobile-filter {
    padding: 10px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 50%;
}

.mobile-filter {
    display: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #F0F0F0;
    border-radius: 30px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}

.cart-main-hd h1 {
    font-family: integralcf-bold;
    margin-bottom: 15px;
}

.cart-section {
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
}

.product-of-cart {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    width: 60%;
}

.price-of-cart {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-image {
    background-color: #F0EEED;
    border-radius: 20px;
    width: 160px;
    height: 124px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}

.personal-product-cart {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart-first-row {
    display: flex;
    justify-content: space-between;
}

.nm-prc p,
.handle-del span,
.subtotal .subtotal-prise {
    font-family: Satoshi-Bold;
    font-size: 20px;
}

.disc-subtotal span {
    color: #FF3333;
    font-family: Satoshi-Bold;
    font-size: 20px;
}

.total-prise .head-total {
    font-family: Satoshi-Regular;
    font-size: 20px;
    color: #000000;
}

.total-prise span {
    font-family: Satoshi-Bold;
    font-size: 24px;
    color: #000000;
}

.total-prise {
    margin-bottom: 20px;
}

.subtotal .subtotal-prise {
    color: #000000;
}

.disc-subtotal {
    color: #FF3333;
}

.size-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.size-detail p {
    font-family: Satoshi-Regular;
    font-size: 14px;
}

.size-detail span {
    color: rgba(0, 0, 0, 0.6);
}

.mdi-trash-can-outline {
    color: #FF3333;
}

.handle-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.handle-price p {
    font-family: Satoshi-Bold;
    font-size: 24px;
}

.handle-price .handle-cart {
    background-color: #F0F0F0;
}

.handle-del .cartno span {
    font-family: Satoshi-Medium;
    font-size: 14px;
    padding: 0px 20px;
}

.handle-del .handle-cart {
    background-color: #F0F0F0;
}

.handle-price .handle-cart span {
    font-size: 20px;
}

.handle-price .handle-cart-flow {
    padding: 0;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.prodect_desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 124px;
}

.hr-line-for-cart {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    border-width: 0;
    height: 2px;
}

.cart-second-part {
    width: 40%;
}

.cart-first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pri-product p,
.price-of-cart p {
    font-family: Satoshi-Bold;
    font-size: 24px;
}

.subtotal p {
    font-family: Satoshi-Regular;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.handle-del {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.apply-promo-code {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.apply-promo-code .addtocart {
    min-width: 0;
}

.apply-promo-code .search-box {
    width: 56%;
    padding: 12px 15px;
}

.apply-promo-code .search-box span {
    font-size: 20px;
}

.apply-promo-code .search-box input {
    padding-left: 30px;
}


.apply-promo-code .cartbtn {
    min-width: 0;
    font-family: Satoshi-Medium;
    font-size: 16px;
}

.apply-promo-code .cartbtn .addtocart {
    padding: 9px 38px;
}

.apply {
    font-size: 16px;
    font-family: Satoshi-Medium;
}

.price-of-cart .cartbtn span {
    color: #FFFFFF;
    padding-left: 10px;
}

.for-padding-space {
    padding-top: 20px;
}




.review-part-menu {
    min-width: 33.33%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
}

.review-part-menu p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
}

.review-part-menu-active {
    border-bottom: 1px solid black;
}

.review-part-menu-active p {
    color: black;
    font-weight: 400;
}

.review-part-overview {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
}

.review-part-len {
    display: flex;
    align-items: center;
    min-width: 30%;
}

.side-option {
    display: flex;
    justify-content: space-between;
    min-width: 27%;
}

.review-part-len p {
    font-weight: 700;
    font-size: 20px;
}

.no-of-rev {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 13px;
    padding-left: 10px;
}

.filter-icon {
    background-color: #F0F0F0;
    padding: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.filter-icon span {
    font-size: 22px;
    color: black;
}

.priority {
    background-color: #F0F0F0;
    border-radius: 30px;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
}

.priority span {
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.priority-drop-down span {
    font-size: 25px;
}

.write-review {
    min-width: 30%;
}

.write-review-button {
    margin-bottom: 0;
    padding: 19px 35px;
    font-weight: 700;
}

.all-review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    gap: 24px;

}

.personal-review {
    display: flex;
    max-width: 45.8%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 21px;
    flex-direction: column;
    justify-content: space-around;
}

.review-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-star {
    padding: 0px;
}

.review-star span,
.more-dot span {
    font-size: 20px;
}

.review-person-name {
    display: flex;
    padding: 10px 0;
}

.r-p-name {
    margin-right: 10px;
}

.review-date {
    padding-top: 20px;
}

.r-p-valid {
    background-color: rgba(1, 171, 49, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    max-height: 24px;

}

.r-p-valid span {
    color: white;
    font-size: 15px;
}

.personal-review p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.load-review {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-weight: 700;
}

.load-review-btn {
    display: flex;
    justify-content: center;
}

/* page 3 */

.casual-section {
    display: flex;
    gap: 30px;
}

.filter {
    max-width: 30%;
}

.filter-area {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.filter-row-first {
    display: flex;
    justify-content: space-between;
}

.filter-row-first span {
    font-size: 24px;
}

.cat-hr-line {
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0;
    height: 2px;
    margin: 15px 0;
}

.filter-row-second {
    display: flex;
    flex-direction: column;
}

.filter-row-second-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filter-row-third input {
    width: 100%;
}

.all-circle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.all-circle .circle {
    padding: 8px 10px;
}

.all-circle .circle span {
    font-size: 22px;
}

.green {
    background-color: #00C12B;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.red {
    background-color: #F50606;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.yellow {
    background-color: #F5DD06;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.orange {
    background-color: #F57906;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-blue {
    background-color: #06CAF5;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.blue {
    background-color: #063AF5;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.violte {
    background-color: #7D06F5;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.pink {
    background-color: #F506A4;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.white {
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.black {
    background-color: #000000;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.len-btn-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choose-size-filter {
    background-color: #F0F0F0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    padding: 14px 35px;
    margin-bottom: 2px;
}

.apply-filter {
    min-width: 100%;
    padding: 20px;
}

.filter-product-headline {
    display: flex;
    justify-content: space-between;
}

.filter-product-headline-part2 {
    display: flex;
}

.all-part-menu {
    display: flex;
    min-width: 65%;
    justify-content: space-between;
}

.filter-product-section .things {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



@media(max-width:1500px) {
    nav {
        justify-content: space-between;
    }

    .hero-content {
        max-width: 55%;
    }

    .cmp-logo {
        justify-content: space-between;
    }

    .cloth {
        max-width: 23.5%;
        height: auto;
    }

    .cloth-img {
        height: 280px;
    }

    .cloth-img img {
        width: 254px;
    }

    .type-of-dress {
        padding: 0px 40px;
    }

    .rev_detail {
        max-width: 28%;
    }

    .head-line-footer h2 {
        font-size: 33px;
    }

    .t-shirt-images {
        max-width: 51%;
    }

    .t-shirt-desc {
        max-width: 46%;
    }

    .multiple-parts {
        max-width: 30.5;
    }

    .personal-review {
        max-width: 44.8%;
    }

    .review-part-len {
        display: flex;
        min-width: 30%;
        align-items: center;
    }

    .side-option {
        min-width: 34%;
    }

    .product-of-cart {
        max-width: 65%;
    }

    .filter-product-section .cloth {
        min-width: 31%;
    }

    .filter-product-section .cloth-img {
        height: 260px;
    }

    .filter-product-section .cloth-img img {
        width: 100%;
    }

    .footer-top {
        top: -16px;
    }

}


@media(max-width:1200px) {
    nav {
        min-width: 90%;
    }

    .logo h1 {
        padding-right: 30px;
    }

    .menu ul li {
        padding: 0 20px 0 0;
    }

    .icon-menu {
        gap: 20px;
        justify-content: space-between;
    }

    .hero-content-top h1 {
        font-size: 49px;
        line-height: 48px;
    }

    .hero-content-top p {
        font-size: 20px;
    }

    .track {
        width: 25%;
    }

    .hero-img {
        width: 49%;
    }

    .cmp-logo {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .logo_img {
        width: 33%;
        justify-content: center;
    }

    .things {
        gap: 10px;
    }

    .cloth {
        max-width: 24%;
    }

    .cloth-img {
        display: flex;
        justify-content: center;

    }

    .top-c {
        display: block;
    }

    .cloth-desc {
        max-width: 92%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .thing-price {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .real-price h2 {
        font-size: 15px;
    }

    .layout {
        width: 100%;
    }

    .layout img {
        width: 65%;
        translate: 300px;
    }

    .rev_detail {
        max-width: 27%;
    }

    .payment {
        min-width: 29%;
    }

    .t-shirt-desc h1 {
        font-size: 26px;
    }

    .t-shirt-desc p,
    .personal-review p {
        font-size: 16px;
    }

    .t-shirt-images {
        max-width: 53%;
    }

    .t-shirt-desc {
        max-width: 44%;
    }

    .multiple-parts {
        max-width: 30%;
    }

    .selected-images {
        max-width: 70%;
    }

    .choose-size {
        padding: 10px 20px;
    }

    .cloth-img {
        height: 240px;
    }

    .cloth-img img {
        width: 214px;
    }

    .personal-review {
        max-width: 43.7%;
    }

    .side-option {
        min-width: 40%;
    }

    .filter {
        display: none;
    }

    .filter-product-section .cloth-img {
        height: 300px;
    }

    .product-of-cart {
        width: 53%;
    }

    .apply-promo-code .search-box {
        width: 50%;

    }

    .apply-promo-code .search-box input {
        padding-left: 26px;
    }
}

@media(max-width:992px) {
    .logo {
        font-size: 10px;
    }

    .menu ul li {
        padding: 0 15px 0 0;
    }

    .icon-menu {
        gap: 10px;
    }

    .menu-list-2 {
        width: 35%;
    }

    .search-box {
        width: 60%;
    }

    .hero-content-top h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .hero-content-top p {
        font-size: 15px;
    }

    .track h1 {
        font-size: 20px;
    }

    .track p {
        font-size: 15px;
    }

    .hero-content-top {
        padding-top: 10px;
    }

    .track p {
        font-size: 15px;
    }

    .cmp-logo {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo_img {
        width: 30%;
        justify-content: center;
    }

    .cloth-img {
        height: 50%;
    }

    .thing-price h2 {
        font-size: 17px;
        min-width: 0;
    }

    .layout {
        height: 300px;
    }

    .layout img {
        width: 65%;
        translate: 220px;
    }

    .rev_detail {
        max-width: 42%;
    }

    .head-line-footer h2 {
        font-size: 21px;
    }

    .footer-top {
        padding: 10px 30px;
    }

    .subscribe button {
        margin-top: 10px;
    }

    .payment {
        min-width: 36%;
    }

    .multiple-parts {
        flex-direction: row;
        max-width: 100%;
    }

    .single-img {
        max-width: 31%;
    }

    .selected-images {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .t-shirt-section {
        flex-direction: column;
    }

    .t-shirt-images {
        flex-direction: column-reverse;
        min-width: 100%;
        gap: 25px;
    }

    .t-shirt-desc {
        padding-top: 20px;
        max-width: 100%;
    }

    .t-shirt-desc h1 {
        font-size: 40px;
    }

    .t-shirt-desc p {
        font-size: 20px;
    }

    .cloth-img {
        height: 180px;
    }

    .cloth-img img {
        width: 165px;
    }

    .personal-review {
        max-width: 41.9%;
    }

    .personal-review p {
        font-size: 15px;
    }

    .side-option {
        min-width: 52%;
    }

    .filter-product-section .cloth {
        min-width: 32%;
    }

    .filter-product-section .cloth-img {
        height: 260px;
    }

    .cart-section {
        display: flex;
        gap: 25px;
        margin-bottom: 80px;
        flex-direction: column;
    }

    .product-of-cart {
        min-width: 94%;
    }

    .cart-second-part {
        width: 100%;
    }

    .search-box {
        display: none;
    }

    .footer-search-box {
        display: block;
    }

    .serchicon {
        display: block;
    }

    .menu-list-2 {
        width: 20%;
        display: flex;
        justify-content: end;
    }

    .apply-promo-code {
        gap: 20px;
    }

    .apply-promo-code .search-box {
        display: block;
    }

    .price-of-cart .cartbtn {

        display: flex;
        justify-content: center;
    }

    .apply-promo-code .cartbtn {
        display: flex;
        justify-content: end;
        min-width: 50%;
    }



    .price-of-cart .cartbtn .button {
        min-width: 30%;
        max-width: 40%;
    }

    .apply-promo-code .cartbtn .button {
        min-width: 100%;
    }
}

@media(max-width:768px) {
    .logo {
        font-size: 7px;
    }

    .menu ul {
        gap: 20px;
    }

    .menu ul li {
        padding: 0 10px 0 0;
    }

    .nav-icons {
        font-size: 20px;
    }

    .serchicon {
        display: block;
    }

    .search-box {
        display: none;
    }

    .icon-menu {
        justify-content: flex-end;
        gap: 20px;
    }

    .menu-list-2 {
        width: 20%;
    }

    .hero-content {
        padding: 10px 0;
    }

    .hero-content-top h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .track {
        width: 27%;
    }

    .track p {
        font-size: 12px;
    }

    .hero {
        align-items: normal;
    }

    .cloth-img {
        height: 180px;
    }

    /* .rating span {
        font-size: 12px;
    } */

    .text-format {
        top: 30px;
        left: 30px;
    }

    .layout {
        height: 300px;
    }

    .layout img {
        width: 65%;
        translate: 120px;
    }

    .rev_detail {
        max-width: 40%;
    }

    .footer-compo .search-box {
        display: block;
    }

    .bottom-part {
        flex-direction: column;
        margin: 0;
        margin-top: 20px;
    }

    .payment {
        min-width: 48%;
    }

    .author,
    .payment {
        margin-bottom: 20px;
    }

    .pmt {
        min-width: 50px;
    }

    .t-shirt-desc .rating span {
        font-size: 18px;
    }

    .personal-review {
        max-width: 100%;
    }


    .review-part-menu p {
        font-size: 18px;
    }

    .filter-icon {
        padding: 7px;
    }

    .priority {
        padding: 7px 23px;
    }

    .write-review-button {
        padding: 14px 30px;
    }

    .side-option {
        min-width: 60%;
    }

    .things {
        overflow: auto;
        white-space: nowrap;
        gap: 0;
        flex-wrap: nowrap;
    }

    .cloth {
        max-width: 58%;
    }

    .cloth-img {
        height: 200px;
    }

    .cloth-img {
        display: block;
        height: auto;
        height: 230px;
        width: 88%;
        display: flex;
    }

    .cloth-img img {
        width: 230px;
    }

    .cloth-desc p {
        font-size: 15px;
    }

    .filter-product-section .things {
        overflow: auto;
        white-space: nowrap;
        gap: 0;
        flex-wrap: wrap;
    }

    .filter-product-section .cloth {
        min-width: 48%;
    }

    .filter-product-section .cloth-img {
        height: 273px;
        width: 100%;
    }

    .filter-product-section .things {
        gap: 10px;
    }

    .apply-promo-code .search-box {
        width: 52%;
    }

    .price-of-cart .cartbtn .button {
        max-width: 50%;
    }

    .apply-promo-code .cartbtn {
        display: flex;
        justify-content: end;
        width: 50%;
    }

    .logo h1 {
        font-size: 25.2px;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-logo {
        max-width: 100%;
    }

    .footer-logo p {
        padding: 20px 0;
    }

    .all-part-menu {
        padding-top: 20px;
    }
}



@media(max-width:600px) {
    header {
        max-width: 98%;
    }

    .header-top {
        min-width: 100%;
    }

    .header-top span {
        display: none;
    }

    .header-top .head-line {
        width: 100%;
        font-size: 12px;
    }

    /* .h-padding {
        padding: 0.5% 2%;
    } */

    .menubar {
        display: block;
        font-size: 20px;
        color: black;
    }

    nav {
        min-width: 100%;
        justify-content: space-between;
    }

    .menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        background: white;
        z-index: 1000;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo .menubar {
        padding-right: 20px;
    }

    .checkbtn {
        display: block;
        margin-left: 20px;
        color: #333;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 100%;
        padding: 10px 0;
    }

    .menu ul li {
        width: 100%;
        text-align: left;
    }

    #check:checked~.menu {
        display: block;
    }

    input {
        width: 100%;
    }

    .category {
        position: static;
        width: 100%;
        background: #ffffff;
    }

    .category ul {
        width: 100%;
    }

    .category ul li {
        padding: 0px 30px;
    }

    .cat-list:hover .category {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content {
        min-width: 100%;
    }

    .shop {
        width: 100%;
    }

    .button {
        margin-bottom: 0;
    }

    .hero-content-top h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .hero-content-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .track {
        width: 49%;
        text-align: center;
        padding-top: 20px;
    }

    .hero-img {
        width: 100%;
    }

    .border {
        margin-top: 20px;
    }

    .none-boorder {
        display: none;
    }

    .cmp-logo {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo_img {
        width: 26%;
    }

    .logo_img img {
        width: 100%;
        overflow: hidden;
    }

    .things {
        overflow: auto;
        white-space: nowrap;
        gap: 0;
        flex-wrap: nowrap;
    }

    .cloth {
        max-width: 58%;
    }

    .cloth-img {
        display: block;
        height: auto;
        height: 230px;
        width: 88%;
        display: flex;
    }

    .thing-price {
        justify-content: flex-start;
    }

    .h-padding {
        padding: 0 2%;
    }

    .cloth-desc p {
        font-size: 15px;
        font-weight: 400;
    }

    .thing-price h2 {
        font-size: 15px;
    }

    .discount p {
        font-size: 10px;
    }

    .delete-price,
    .discount {
        margin-left: 10px;
    }

    .all-btn {
        width: 90%;
    }

    .dress-style-section {
        margin-top: 30px;
    }

    .text-format {
        top: 10px;
        left: 10px;
    }

    .layout {
        height: 200px;
    }

    .type-of-dress {
        padding: 0 15px;
    }

    .rev_detail {
        max-width: 100%;
    }

    .slider {
        display: flex;
        align-items: end;
    }

    .head-line h1 {
        font-size: 30px;
    }

    .happy_cust {
        padding-top: 10%;
    }

    .footer-top {
        flex-direction: column;
        top: 0;
        margin: 0 15px;
    }

    .head-line-footer {
        max-width: 100%;
    }

    .footer-compo {
        min-width: 100%;
        margin-top: 20px;
    }

    .footer-compo .search-box {
        min-width: 91%;
    }

    .footer-compo .subscribe {
        min-width: 100%;
    }

    .footer-logo {
        min-width: 100%;
    }

    .bottom-part {
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .footer-logo p {
        padding-bottom: 15px;
    }

    .head-line-footer h2 {
        font-size: 32px;

        line-height: 35px;
    }

    .footer-menu {
        margin-top: 200px;
    }

    .author,
    .payment {
        margin-bottom: 20px;
    }

    .payment {
        min-width: 99%;
    }

    .rating span {
        font-size: 18px;
    }

    .t-shirt-desc h1 {
        font-size: 30px;
    }

    .t-shirt-desc p {
        font-size: 15px;
    }

    .circle {
        padding: 11px;
    }

    .choose-size {
        padding: 16px 12px;
        font-size: 13px;
    }

    .len-btn {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .cloth-img img {
        width: 198px;
    }

    .cloth-img {
        height: 200px;
    }

    .priority {
        display: none;
    }

    .side-option {
        min-width: 40%;
    }

    .review-part-menu p {
        font-size: 14px;
    }

    .review-part-overview {
        margin: 23px 0;
    }

    .review-part-len p {
        font-size: 17px;
    }

    .no-of-rev {
        padding-left: 7px;
    }

    .write-review-button {
        padding: 14px;
    }

    .side-option {
        /* min-width: 1%; */
        display: flex;
        justify-content: space-between;
    }

    .choose-size-lg {
        font-size: 13px;
    }

    .filter-product-section .cloth {
        max-width: 48%;
    }

    .filter-product-section .cloth-img {
        height: 174px;
        width: 100%;
    }

    .filter-product-headline h1 {
        font-size: 20px;
    }

    .sorting {
        display: none;
    }

    .mobile-filter {
        display: block;
    }

    .cart-section {
        flex-direction: column;
        align-items: center;
    }

    .product-of-cart {
        width: 100%;
    }

    .price-of-cart .cartbtn .button {
        min-width: 100%;
    }

    .nm-prc p,
    .handle-del span,
    .subtotal .subtotal-prise,
    .disc-subtotal span {
        font-size: 16px;
    }

    .size-detail p {
        font-family: Satoshi-Regular;
        font-size: 12px;
    }

    .pri-product p,
    .price-of-cart p,
    .total-prise span {
        font-size: 20px;
    }

    .subtotal p {
        font-size: 16px;
    }

    .head-line-footer h2 {
        font-size: 32px;
    }

    .apply-promo-code {
        gap: 5px;
    }

    .apply-promo-code .cartbtn .addtocart {
        padding: 14px 30px;
    }

    .apply-promo-code .search-box {
        width: 55%;
    }

    .apply-promo-code .cartbtn {
        display: flex;
        justify-content: end;
        min-width: 30%;
        max-width: 40%;
    }

    .menu-part {
        min-width: 50%;
        padding-bottom: 20px;
    }

    .all-part-menu {
        flex-wrap: wrap;
    }

    .menu-part ul,
    li {
        padding-top: 10px;
    }

    .f-and-n p,
    .f-and-n span,
    .page-count p {
        font-size: 12px;
    }

    .sort-hide {
        display: none;
    }

    .footer-top {
        height: 250px;
        margin-bottom: -175px;
        padding: 35px 30px;
    }

    .email-box input {
        width: 50%;
    }


}