* {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.top-c {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.h-padding {
    padding: 0 5%;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.header-top {
    background-color: black;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    min-width: 90%;
}

.header-top .head-line {
    width: 90%;
    text-align: center;
    display: inline-block;
}

.header-top p a {
    color: aliceblue;
}

.header-top span {
    text-align: right;
    display: inline-block;
    width: 9%;
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
}

.menubar {
    display: none;
}

.navmenu {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.cat-list {
    position: relative;
}

.cat-list:hover .category {
    display: block;
}

.category ul li a:hover {
    color: gainsboro;
    text-decoration: underline;
    display: block;
}

.menu {
    min-width: 25%;
    /* min-width:32%; */
}

.menu ul {
    list-style-type: none;
    display: flex;
    /* gap: 50px; */
    padding-left: 0;
    justify-content: center;
}

.menu ul li {
    min-width: 12%;
    padding: 0 20px;
    text-align: center;
}


.category {
    display: none;
    position: absolute;
    top: 20px;
    background-color: rgb(255, 255, 255);
}

.category ul {
    display: block;
    width: 20%;

}

.category ul li {
    padding: 10px;
    color: rgb(2, 49, 50);
    border-radius: 12px;
}


.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color: gray;
    text-decoration: underline;
}

.serchicon {
    display: none;
}

.icon-menu {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
}

.search-box {
    background-color: rgb(226, 224, 224);
    border-radius: 20px;
    padding: 10px 15px;
    position: relative;
}

.search-box span {
    position: absolute;
    left: 15px;
    top: 12px;
}

.search-box input {
    border: none;
    background-color: rgb(226, 224, 224);
    width: 90%;
    padding-left: 22px;
}

.search-box input:focus {
    outline: none;
}

.nav-icons {
    font-size: 25px;
    color: black;
}

.hero {
    display: flex;
    background-color: #F2F0F1;
    /* background-color: #f3e5ec; */
    align-items: center;
    justify-content: center;
}

.hero-content {
    /* min-width: 22%; */
    max-width: 40%;
}

.hero-content p {
    font-size: 17.5px;
    color: gray;
    padding: 20px 0;
}

.hero-content-top h1 {
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
}

.hero-content-bottom {
    display: flex;
    justify-content: space-evenly;
}

.hero-img {
    overflow: hidden;
    display: flex;
}

.hero-img img {
    overflow: hidden;
    height: 100%;
}

.button {
    background-color: black;
    border-radius: 40px;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.hero-content-bottom p {
    padding: 0;
    padding-top: 4px;
}

.border {
    border: 1px solid rgb(180, 180, 180);
}

.company {
    background-color: black;
}

.cmp-logo {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.logo_img {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

}

.logo_img img {
    max-width: 90%;
}

.logo_space {
    background-color: black;
}

.things-section {
    text-align: center;
    /* padding: 0 20%; */
    padding-top: 4%;
}

.things-section h1 {
    font-weight: 900;
}

.things {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    flex-wrap: wrap;
    gap: 20px;
}

.cloth {
    max-width: 30%;
}

.cloth-img {
    border-radius: 20px;
    overflow: hidden;
    height: 298px;
    display: flex;
    background-color: #F0EEED;
}

.cloth-img img {
    width: 295px;
}

.cloth-desc {
    padding-top: 15px;
}

.cloth-desc p {
    font-weight: 800;
}

.cloth-desc .mdi,
.mdi-star,
.mdi-star-half {
    color: #FFC633;
}

.cloth-desc p,
span,
h2 {
    text-align: left;
}

.rating {
    text-align: left;
    padding-top: 10px;
}

.real-price p {
    display: inline-block;
    font-weight: 100;
}

.delete-price {
    color: rgb(166, 166, 166);
}

.thing-price {
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: flex-start;
}

.thing-price h2 {
    min-width: 70px;
}

.discount {
    background-color: rgba(255, 51, 51, 0.1);
    color: #FF3333;
    padding: 3px 8px;
    border-radius: 20px;
}

.discount p {
    font-size: 12px;
}

.all-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 30px;
}

.dress-style {
    background-color: #F0F0F0;
    border-radius: 30px;
    padding-bottom: 60px;
}

.dress-style h1 {
    text-align: center;
    padding: 40px;
    font-weight: 900;
}

.type-of-dress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 100px;
}

.layout {
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.layout1 {
    flex-grow: 1;
}

.layout2 {
    flex-grow: 4;
}

.layout p {
    font-size: 25px;
    font-weight: 900;
}

.text-format {
    position: absolute;
    top: 50px;
    left: 50px;
}

.layout img {
    width: 65%;
    translate: 200px;
}

.happy_cust {
    padding-top: 60px;
}

.head-line {
    display: flex;
    justify-content: space-between;
}

.head-line h1 {
    font-weight: 900;
    font-size: 40px;
}

.head-line span {
    font-size: 30px;
}

.cust_detail {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;

}

.rev_detail {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    padding: 20px;
    max-width: 20.5%;
}

.rev_detail h2 {
    padding: 10px 0;
}

footer {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer-top {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 40px 40px;
    max-width: 85%;
    position: absolute;
    top: 5px;
}

.head-line-footer {
    max-width: 40%;
}

.footer-compo {
    display: flex;
    min-width: 30%;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
}

.footer-compo .search-box {
    min-width: 60%;

}

.footer-compo .subscribe {
    min-width: 66.5%;
}

.subscribe button {
    background-color: white;
    color: black;
    min-width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

.head-line-footer h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.main-footer {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    min-width: 90%;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 13%;
    flex-wrap: wrap;
}

.menu-part {
    max-width: 30%;
    padding: 20px 0;
}

.menu-part h2 {
    font-weight: 900;
}

.menu-part p {
    font-weight: 600;
}

.menu-part ul {
    list-style: none;
    padding: 0;
}

.menu-part ul,
li {
    padding-top: 15px;
}

.menu-part ul li a {
    text-decoration: none;
    color: black;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo p {
    font-weight: 10;
    color: rgb(65, 65, 65);
    padding-top: 15px;
}

.social-icons {
    display: flex;
}

.social-icons span {
    display: inline-block;
    min-width: 23px;
    font-size: 20px;
    text-align: center;
}

.twd {
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    margin-right: 10px;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

.payment {
    display: flex;
    justify-content: space-between;
    min-width: 22%;
}

.author p {
    padding: 0;
}

.pmt {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 45px;
}

.pmt img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

/* 2 page */

.navigation {
    margin: 20px 0;
}

.navigation p,
span {
    display: inline;
    color: gray;
}

.navigation .active {
    color: black;
}

.t-shirt-section {
    display: flex;
    justify-content: space-between;
}

.t-shirt-images {
    max-width: 45%;
    display: flex;
    justify-content: space-between;
}

.multiple-parts {
    max-width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.multiple-parts .active {
    border: 1px solid gray;
}

.single-img {
    overflow: hidden;
    background-color: #F0EEED;
    border-radius: 20px;
    max-width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 31%
}

.single-img img {
    max-height: 100%;
    max-width: 100%;
}

.selected-images {
    max-width: 73%;
    background-color: #F0EEED;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.selected-images img {
    max-width: 100%;
    overflow: hidden;
}

.t-shirt-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

.t-shirt-desc h1 {
    font-weight: 900;
    font-size: 40px;
}

.t-shirt-desc span {
    font-size: 24px;

}

.t-shirt-desc .rating {
    padding: 0;
}

.t-shirt-desc .thing-price h2 {
    font-size: 30px;
    margin-right: 10px;
}

.t-shirt-desc .thing-price .discount p {
    padding: 0;
}

.t-shirt-desc p {
    padding: 15px 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.t-shirt-desc .thing-price .discount {
    padding: 6px 20px;
}

.t-shirt-desc .thing-price .discount p {
    color: #FF3333;
}

.t-shirt-desc .thing-price .delete-price {
    color: rgba(0, 0, 0, 0.3);
}

.selected-length {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}

.check-mark {
    visibility: hidden;
}

.circle {
    display: flex;
    border-radius: 50%;
    padding: 8px;
}

.bg-black {
    background-color: #4F4631;
}

.circle2 {
    background-color: #314F4A;
}

.circle3 {
    background-color: #31344F;
}

.circle span {
    color: #F0EEED;
    font-size: 15px;
}

.choose-size {
    background-color: rgb(201, 201, 201);
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    padding: 16px 30px
}

.choose-size-lg {
    font-size: 20px;
    padding: 16px 30px
}

.handle-cart {
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    min-width: 33%;
    padding: 3px 10px;
    border-radius: 50px;
}

.handle-cart span {
    color: black;
    font-size: 35px;
}

.cartno {
    display: flex;
    align-items: center;
}

.handle-cart .cartno span {
    font-size: 20px;
}



.handle-cart-flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

}

.addtocart {
    margin-bottom: 0;
    min-width: 100%;
    padding: 16px 30px;
}

.cartbtn {
    min-width: 60%;
    display: flex;
    align-items: center;
}

.rating-text {
    color: black;
}

.len-btn {
    display: flex;
    gap: 10px;
}

.hr-line {
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0;
    height: 2px;
}

.review-part{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.review-part-menu{
    min-width: 33.33%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}
.review-part-menu p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
}

.review-part-menu-active{
    border-bottom: 1px solid black;
}

.review-part-menu-active p{
    color: black;
    font-weight: 400;
}

.review-part-overview{
    display: flex;
    justify-content: space-between;
}

.filter-icon{
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 50%;
}
.filter-icon span{
    font-size: 20px;
}


@media(max-width:1500px) {
    nav {
        justify-content: space-between;
    }

    .hero-content {
        max-width: 55%;
    }

    .cmp-logo {
        justify-content: space-between;
    }

    .cloth {
        max-width: 23.5%;
        height: auto;
    }

    .cloth-img {
        height: 280px;
    }

    .cloth-img img {
        width: 254px;
    }

    .type-of-dress {
        padding: 0px 40px;
    }

    .rev_detail {
        max-width: 28%;
    }

    .head-line-footer h2 {
        font-size: 33px;
    }

    .t-shirt-images {
        max-width: 51%;
    }

    .t-shirt-desc {
        max-width: 46%;
    }

    .multiple-parts {
        max-width: 30.5;
    }

}


@media(max-width:1200px) {
    nav {
        min-width: 90%;
    }

    .logo h1 {
        padding-right: 30px;
    }

    .menu ul li {
        padding: 0 20px 0 0;
    }

    .icon-menu {
        gap: 20px;
        justify-content: space-between;
    }

    .hero-content-top h1 {
        font-size: 49px;
        line-height: 48px;
    }

    .hero-content-top p {
        font-size: 20px;
    }

    .track {
        width: 25%;
    }

    .hero-img {
        width: 49%;
    }

    .cmp-logo {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .logo_img {
        width: 33%;
        justify-content: center;
    }

    .things {
        gap: 10px;
    }

    .cloth {
        max-width: 24%;
    }

    .cloth-img {
        display: flex;
        justify-content: center;

    }

    .top-c {
        display: block;
    }

    .cloth-desc {
        max-width: 92%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .thing-price {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .real-price h2 {
        font-size: 15px;
    }

    .layout {
        width: 100%;
    }

    .layout img {
        width: 65%;
        translate: 300px;
    }

    .rev_detail {
        max-width: 27%;
    }

    .head-line-footer h2 {
        font-size: 27px;
    }

    .payment {
        min-width: 29%;
    }

    .t-shirt-desc h1 {
        font-size: 26px;
    }

    .t-shirt-desc p {
        font-size: 16px;
    }

    .t-shirt-images {
        max-width: 53%;
    }

    .t-shirt-desc {
        max-width: 44%;
    }

    .multiple-parts {
        max-width: 30%;
    }

    .selected-images {
        max-width: 70%;
    }

    .choose-size {
        padding: 10px 20px;
    }

    .cloth-img {
        height: 240px;
    }

    .cloth-img img {
        width: 214px;
    }


}

@media(max-width:992px) {
    .logo {
        font-size: 10px;
    }

    .menu ul li {
        padding: 0 15px 0 0;
    }

    .icon-menu {
        gap: 10px;
    }

    .menu-list-2 {
        width: 35%;
    }

    .search-box {
        width: 60%;
    }

    .hero-content-top h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .hero-content-top p {
        font-size: 15px;
    }

    .track h1 {
        font-size: 20px;
    }

    .track p {
        font-size: 15px;
    }

    .hero-content-top {
        padding-top: 10px;
    }

    .track p {
        font-size: 15px;
    }

    .cmp-logo {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo_img {
        width: 30%;
        justify-content: center;
    }

    .cloth-img {
        height: 50%;
    }

    .thing-price h2 {
        font-size: 17px;
        min-width: 0;
    }

    .layout {
        height: 300px;
    }

    .layout img {
        width: 65%;
        translate: 220px;
    }

    .rev_detail {
        max-width: 42%;
    }

    .head-line-footer h2 {
        font-size: 21px;
    }

    .footer-top {
        padding: 10px 30px;
    }

    .subscribe button {
        margin-top: 10px;
    }

    .payment {
        min-width: 36%;
    }

    .multiple-parts {
        flex-direction: row;
        max-width: 100%;
    }

    .single-img {
        max-width: 31%;
    }

    .selected-images {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .t-shirt-section {
        flex-direction: column;

    }

    .t-shirt-images {
        flex-direction: column-reverse;
        min-width: 100%;
        gap: 25px;
    }

    .t-shirt-desc {
        padding-top: 20px;
        max-width: 100%;
    }

    .t-shirt-desc h1 {
        font-size: 40px;
    }

    .t-shirt-desc p {
        font-size: 20px;
    }

     .cloth-img {
        height: 180px;
    }

    .cloth-img img {
        width: 165px;
    }
}





@media(max-width:768px) {
    .logo {
        font-size: 7px;
    }

    .menu ul {
        gap: 20px;
    }

    .menu ul li {
        padding: 0 10px 0 0;
    }

    .nav-icons {
        font-size: 20px;
    }

    .serchicon {
        display: block;
    }

    .search-box {
        display: none;
    }

    .icon-menu {
        justify-content: flex-end;
        gap: 20px;
    }

    .menu-list-2 {
        width: 20%;
    }

    .hero-content {
        padding: 10px 0;
    }

    .hero-content-top h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .track {
        width: 27%;
    }

    .track p {
        font-size: 12px;
    }

    .hero {
        align-items: normal;
    }

    .cloth-img {
        height: 180px;
    }

    .rating span {
        font-size: 12px;
    }

    .text-format {
        top: 30px;
        left: 30px;
    }

    .layout {
        height: 300px;
    }

    .layout img {
        width: 65%;
        translate: 120px;
    }

    .rev_detail {
        max-width: 40%;
    }

    .footer-compo .search-box {
        display: block;
    }

    .bottom-part {
        flex-direction: column;
        margin: 0;
        margin-top: 20px;
    }

    .payment {
        min-width: 48%;
    }

    .author,
    .payment {
        margin-bottom: 20px;
    }

    .pmt {
        min-width: 50px;
    }

    .t-shirt-desc .rating span {
        font-size: 18px;
    }



}

@media(max-width:600px) {
    header {
        max-width: 98%;
    }

    .header-top {
        min-width: 100%;
    }

    .header-top span {
        display: none;
    }

    .header-top .head-line {
        width: 100%;
        font-size: 12px;
    }

    /* .h-padding {
        padding: 0.5% 2%;
    } */

    .menubar {
        display: block;
        font-size: 20px;
        color: black;
    }

    nav {
        min-width: 100%;
        justify-content: space-between;
    }

    .menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        background: white;
        z-index: 1000;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo .menubar {
        padding-right: 20px;
    }

    .checkbtn {
        display: block;
        margin-left: 20px;
        color: #333;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 100%;
        padding: 10px 0;
    }

    .menu ul li {
        width: 100%;
        text-align: left;
    }

    #check:checked~.menu {
        display: block;
    }

    input {
        width: 100%;
    }

    .category {
        position: static;
        width: 100%;
        background: #ffffff;
    }

    .category ul {
        width: 100%;
    }

    .category ul li {
        padding: 0px 30px;
    }

    .cat-list:hover .category {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content {
        min-width: 100%;
    }

    .shop {
        width: 100%;
    }

    .button {
        margin-bottom: 0;
    }

    .hero-content-top h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .hero-content-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .track {
        width: 49%;
        text-align: center;
        padding-top: 20px;
    }

    .hero-img {
        width: 100%;
    }

    .border {
        margin-top: 20px;
    }

    .none-boorder {
        display: none;
    }

    .cmp-logo {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo_img {
        width: 26%;
    }

    .logo_img img {
        width: 100%;
        overflow: hidden;
    }

    .things {
        overflow: auto;
        white-space: nowrap;
        gap: 0;
        flex-wrap: nowrap;
    }

    .cloth {
        max-width: 58%;
    }

    .cloth-img {
        display: block;
        height: auto;
        height: 230px;
        width: 88%;
        display: flex;
    }

    .thing-price {
        justify-content: flex-start;
    }

    .h-padding {
        padding: 0 2%;
    }

    .cloth-desc p {
        font-size: 15px;
        font-weight: 400;
    }

    .thing-price h2 {
        font-size: 15px;
    }

    .discount p {
        font-size: 10px;
    }

    .delete-price,
    .discount {
        margin-left: 10px;
    }

    .all-btn {
        width: 90%;
    }

    .dress-style-section {
        margin-top: 30px;
    }

    .text-format {
        top: 10px;
        left: 10px;
    }

    .layout {
        height: 200px;
    }

    .type-of-dress {
        padding: 0 15px;
    }

    .rev_detail {
        max-width: 100%;
    }

    .slider {
        display: flex;
        align-items: end;
    }

    .head-line h1 {
        font-size: 30px;
    }

    .happy_cust {
        padding-top: 10%;
    }

    .footer-top {
        flex-direction: column;
        top: 0;
        margin: 0 15px;
    }

    .head-line-footer {
        max-width: 100%;
    }

    .footer-compo {
        min-width: 100%;
        margin-top: 20px;
    }

    .footer-compo .search-box {
        min-width: 91%;
    }

    .footer-compo .subscribe {
        min-width: 100%;
    }

    .footer-logo {
        min-width: 100%;
    }

    .bottom-part {
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .footer-logo p {
        padding-bottom: 15px;
    }

    .head-line-footer h2 {
        font-size: 30px;
        font-weight: 900;
        line-height: 34px;
    }

    .footer-menu {
        margin-top: 250px;
    }

    .author,
    .payment {
        margin-bottom: 20px;
    }

    .payment {
        min-width: 99%;
    }

    .rating span {
        font-size: 18px;
    }

    .t-shirt-desc h1 {
        font-size: 30px;
    }

    .t-shirt-desc p {
        font-size: 15px;
    }

    .circle {
        padding: 11px;
    }

    .choose-size {
        padding: 13px;
        font-size: 13px;
    }

    .len-btn {
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .cloth-img img {
        width: 198px;
    }
        .cloth-img{
            height: 200px;
        }

}